.gContainer {
    display: flex;
    flex-direction: column;
  }
  
  .gContainer label {
    display: block;
  }
  
  .gContainer select {
    background-color: #262626;
    border: 1px solid lightgray;
    color: lightgray;
    font-size: 20px;
    border-radius: 10px;
    /* width: 500px; */
    /* width: 50%; */
    height: 60px;
  }
  
  .placeholderOption {
    color: lightgray;
  }


  /* Media Queries para tablets (min-width: 600px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .gContainer select {
    font-size: 18px;  
    height: 55px;  
  }
}

/* Media Queries para móviles (max-width: 600px) */
@media (max-width: 600px) {
  .gContainer select {
    font-size: 16px;  
    height: 50px;  
  }
}