/* .gcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px;
    padding-bottom: 20px;
    flex-shrink: 1;
    border-radius: 15px;
    /* border: 2px solid transparent; 
  
  } */
  
  /* .gcontainer > h1 {
    background-color: #6BD1FF;
    color: #f5f5f5;
    width: 432px;
    height: 70px;
    border-radius: 10px;
    margin-top: -35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .imgContainer {
    width: 432px;
    /* height: 242.88px; */
    height:auto;
    border-radius: 15px ;
    border:5px solid;
  }
  
  .imgContainer:hover{
    box-shadow: 0px 0px 7px 7px #505152;
  }
  
  .imgCard {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px ; 
    border-bottom:5px solid;
    object-fit: cover;   
  }
  
  .btnContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 432px;
    height: 60px;
    padding: 10px 0px;
    background-color: #000;
    border-radius: 0px 0px 10px 10px ;
    margin-top:-11px;
  }
  
  .btn {
    background-color: #000;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    outline:none;
  }



/* Media Queries para tablets (min-width: 600px) */
@media (min-width: 600px) and (max-width: 1024px) {

  .gcontainer {
    margin: 0px 20px;
    display:flex;
    justify-content:center;
  }

  .gcontainer > h1 {
    width: 100%;
  }

  .imgContainer {
    width: 100%;
    height: auto;
  }

  .btnContainer {
    width: 100%;
  }
}

/* Media Queries para móviles (max-width: 600px) */
@media (max-width: 600px) {

.imgContainer {
  /* width: 373.64px;
  height: 277.92px; */
  width: 90%;
  height: auto;
  }

  .btnContainer {
    width: 100%;
    height:auto;
    padding: 20px 0px;
  }

}

