.container {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    height: 67vh;
  }
  
  .container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    color: #2271D2;
  }
  
  .iframeContainer {
    height: 100%;
    width: 45%;
  }


  /* Media Queries para tablets (min-width: 600px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .container h1 {
    font-size: 36px;  
  }

  .iframeContainer {
    width: 70%;  
  }
}

/* Media Queries para móviles (max-width: 600px) */
@media (max-width: 600px) {
  .container {
    padding: 15px;  
  }

  .container h1 {
    font-size: 30px;  
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
  }

  .iframeContainer {
    width: 100%;  
    height:50%;
  }
}